<ion-view view-title="Edit">
	<ion-nav-bar class="bar-positive">
	    <ion-nav-back-button class="button-clear">
	    	Back
  		</ion-nav-back-button>
	</ion-nav-bar>

    <ion-content class="padding">
        <div class="list list-inset">
        	<h4>Edit Data</h4>
            <label class="item item-input">
                <input ng-model="title" type="text" placeholder="Title" />
            </label>
            <label class="item item-input">
                <input ng-model="description" type="text" placeholder="Description" />
            </label>
            <label class="item item-input">
                <input ng-model="number" type="number" placeholder="Number" />
            </label>
        </div>
        <div class="padding-left padding-right padding-bottom">
            <a class="button button-large button-positive" ng-click="edit(title, description, number)">Add</a>
        </div>
    </ion-content>

</ion-view>