/* Empty. Add your own CSS if you like */
.button-large {
	min-height: 55px;
}

.pass-text-height {
	line-height: 53px;
}

.img-circle.gravatar {
  	width: 30px;
  	border-radius: 50%;
  	display: inline-block;
}

.profile-name {
	display: inline-block;
	vertical-align: super;
}